USE [master]
GO
/****** Object:  Database [QLCinema]    Script Date: 11/8/2024 3:18:39 PM ******/
CREATE DATABASE [QLCinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCinema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCinema]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/8/2024 3:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietHoaDonSanPham]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDonSanPham](
	[MaHoaDon] [nvarchar](450) NOT NULL,
	[MaSanPham] [nvarchar](450) NOT NULL,
	[SLBan] [int] NOT NULL,
	[GiamGia] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_tblChiTietHoaDonSanPham] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietHoaDonVePhim]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDonVePhim](
	[MaVe] [nvarchar](450) NOT NULL,
	[MaHoaDon] [nvarchar](450) NOT NULL,
	[GiamGia] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_tblChiTietHoaDonVePhim] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDoanhThu]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoanhThu](
	[MaDoanhThu] [nvarchar](450) NOT NULL,
	[SoVe] [nvarchar](max) NOT NULL,
	[TongDoanhThu] [decimal](18, 2) NOT NULL,
	[MaPhim] [nvarchar](max) NOT NULL,
	[PhimMaPhim] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_tblDoanhThu] PRIMARY KEY CLUSTERED 
(
	[MaDoanhThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGhes]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGhes](
	[MaGhe] [nvarchar](450) NOT NULL,
	[SoGhe] [nvarchar](max) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[MaPhongChieu] [nvarchar](max) NOT NULL,
	[PhongChieuMaPhongChieu] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_tblGhes] PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoaDon]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDon](
	[MaHoaDon] [nvarchar](450) NOT NULL,
	[NgayBan] [datetime2](7) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[MaNhanVien] [nvarchar](max) NOT NULL,
	[NhanVienMaNhanVien] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_tblHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNhanVien] [nvarchar](450) NOT NULL,
	[SDT] [nvarchar](max) NOT NULL,
	[HovaTen] [nvarchar](max) NOT NULL,
	[Luong] [decimal](18, 2) NOT NULL,
	[GioiTinh] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhims]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhims](
	[MaPhim] [nvarchar](450) NOT NULL,
	[Ten] [nvarchar](max) NOT NULL,
	[DaoDien] [nvarchar](max) NOT NULL,
	[QuocGia] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[ThoiLuong] [time](7) NOT NULL,
	[TenAnh] [nvarchar](max) NOT NULL,
	[NamPhatHanh] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tblPhims] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhongChieu]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhongChieu](
	[MaPhongChieu] [nvarchar](450) NOT NULL,
	[TenPhong] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblPhongChieu] PRIMARY KEY CLUSTERED 
(
	[MaPhongChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSanPham]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPham](
	[MaSanPham] [nvarchar](450) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[LoaiSanPham] [nvarchar](max) NOT NULL,
	[TenSanPham] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblSanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSuatChieu]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSuatChieu](
	[MaSuatChieu] [nvarchar](450) NOT NULL,
	[NgayChieu] [datetime2](7) NOT NULL,
	[GiaVe] [decimal](18, 2) NOT NULL,
	[CaChieu] [time](7) NOT NULL,
	[MaPhim] [nvarchar](max) NOT NULL,
	[PhimMaPhim] [nvarchar](450) NULL,
	[MaPhongChieu] [nvarchar](max) NOT NULL,
	[PhongChieuMaPhongChieu] [nvarchar](450) NULL,
 CONSTRAINT [PK_tblSuatChieu] PRIMARY KEY CLUSTERED 
(
	[MaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaiKhoan]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[MaNhanVien] [nvarchar](450) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheLoai]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheLoai](
	[MaTheLoai] [nvarchar](450) NOT NULL,
	[Loai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblTheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheLoai_Phim]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheLoai_Phim](
	[MaPhim] [nvarchar](450) NOT NULL,
	[MaTheLoai] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_tblTheLoai_Phim] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC,
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVes]    Script Date: 11/8/2024 3:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVes](
	[MaVe] [nvarchar](450) NOT NULL,
	[NgayBan] [datetime2](7) NOT NULL,
	[tblSuatChieuMaSuatChieu] [nvarchar](450) NULL,
 CONSTRAINT [PK_tblVes] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblChiTietHoaDonSanPham_MaSanPham]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblChiTietHoaDonSanPham_MaSanPham] ON [dbo].[tblChiTietHoaDonSanPham]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblChiTietHoaDonVePhim_MaVe]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblChiTietHoaDonVePhim_MaVe] ON [dbo].[tblChiTietHoaDonVePhim]
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblDoanhThu_PhimMaPhim]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblDoanhThu_PhimMaPhim] ON [dbo].[tblDoanhThu]
(
	[PhimMaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblGhes_PhongChieuMaPhongChieu]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblGhes_PhongChieuMaPhongChieu] ON [dbo].[tblGhes]
(
	[PhongChieuMaPhongChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblHoaDon_NhanVienMaNhanVien]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblHoaDon_NhanVienMaNhanVien] ON [dbo].[tblHoaDon]
(
	[NhanVienMaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSuatChieu_PhimMaPhim]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblSuatChieu_PhimMaPhim] ON [dbo].[tblSuatChieu]
(
	[PhimMaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSuatChieu_PhongChieuMaPhongChieu]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblSuatChieu_PhongChieuMaPhongChieu] ON [dbo].[tblSuatChieu]
(
	[PhongChieuMaPhongChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblTheLoai_Phim_MaPhim]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblTheLoai_Phim_MaPhim] ON [dbo].[tblTheLoai_Phim]
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblVes_tblSuatChieuMaSuatChieu]    Script Date: 11/8/2024 3:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_tblVes_tblSuatChieuMaSuatChieu] ON [dbo].[tblVes]
(
	[tblSuatChieuMaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonSanPham_tblHoaDon_MaHoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[tblHoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonSanPham] CHECK CONSTRAINT [FK_tblChiTietHoaDonSanPham_tblHoaDon_MaHoaDon]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonSanPham_tblSanPham_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tblSanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonSanPham] CHECK CONSTRAINT [FK_tblChiTietHoaDonSanPham_tblSanPham_MaSanPham]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonVePhim]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonVePhim_tblHoaDon_MaHoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[tblHoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonVePhim] CHECK CONSTRAINT [FK_tblChiTietHoaDonVePhim_tblHoaDon_MaHoaDon]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonVePhim]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonVePhim_tblVes_MaVe] FOREIGN KEY([MaVe])
REFERENCES [dbo].[tblVes] ([MaVe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonVePhim] CHECK CONSTRAINT [FK_tblChiTietHoaDonVePhim_tblVes_MaVe]
GO
ALTER TABLE [dbo].[tblDoanhThu]  WITH CHECK ADD  CONSTRAINT [FK_tblDoanhThu_tblPhims_PhimMaPhim] FOREIGN KEY([PhimMaPhim])
REFERENCES [dbo].[tblPhims] ([MaPhim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDoanhThu] CHECK CONSTRAINT [FK_tblDoanhThu_tblPhims_PhimMaPhim]
GO
ALTER TABLE [dbo].[tblGhes]  WITH CHECK ADD  CONSTRAINT [FK_tblGhes_tblPhongChieu_PhongChieuMaPhongChieu] FOREIGN KEY([PhongChieuMaPhongChieu])
REFERENCES [dbo].[tblPhongChieu] ([MaPhongChieu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblGhes] CHECK CONSTRAINT [FK_tblGhes_tblPhongChieu_PhongChieuMaPhongChieu]
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDon_tblNhanVien_NhanVienMaNhanVien] FOREIGN KEY([NhanVienMaNhanVien])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHoaDon] CHECK CONSTRAINT [FK_tblHoaDon_tblNhanVien_NhanVienMaNhanVien]
GO
ALTER TABLE [dbo].[tblSuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_tblSuatChieu_tblPhims_PhimMaPhim] FOREIGN KEY([PhimMaPhim])
REFERENCES [dbo].[tblPhims] ([MaPhim])
GO
ALTER TABLE [dbo].[tblSuatChieu] CHECK CONSTRAINT [FK_tblSuatChieu_tblPhims_PhimMaPhim]
GO
ALTER TABLE [dbo].[tblSuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_tblSuatChieu_tblPhongChieu_PhongChieuMaPhongChieu] FOREIGN KEY([PhongChieuMaPhongChieu])
REFERENCES [dbo].[tblPhongChieu] ([MaPhongChieu])
GO
ALTER TABLE [dbo].[tblSuatChieu] CHECK CONSTRAINT [FK_tblSuatChieu_tblPhongChieu_PhongChieuMaPhongChieu]
GO
ALTER TABLE [dbo].[tblTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_tblTaiKhoan_tblNhanVien_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTaiKhoan] CHECK CONSTRAINT [FK_tblTaiKhoan_tblNhanVien_MaNhanVien]
GO
ALTER TABLE [dbo].[tblTheLoai_Phim]  WITH CHECK ADD  CONSTRAINT [FK_tblTheLoai_Phim_tblPhims_MaPhim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[tblPhims] ([MaPhim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTheLoai_Phim] CHECK CONSTRAINT [FK_tblTheLoai_Phim_tblPhims_MaPhim]
GO
ALTER TABLE [dbo].[tblTheLoai_Phim]  WITH CHECK ADD  CONSTRAINT [FK_tblTheLoai_Phim_tblTheLoai_MaTheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[tblTheLoai] ([MaTheLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTheLoai_Phim] CHECK CONSTRAINT [FK_tblTheLoai_Phim_tblTheLoai_MaTheLoai]
GO
ALTER TABLE [dbo].[tblVes]  WITH CHECK ADD  CONSTRAINT [FK_tblVes_tblSuatChieu_tblSuatChieuMaSuatChieu] FOREIGN KEY([tblSuatChieuMaSuatChieu])
REFERENCES [dbo].[tblSuatChieu] ([MaSuatChieu])
GO
ALTER TABLE [dbo].[tblVes] CHECK CONSTRAINT [FK_tblVes_tblSuatChieu_tblSuatChieuMaSuatChieu]
GO
USE [master]
GO
